{% block head %}
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
      <meta name="author" content="Creative Tim">
    {% endblock %}

    {% block title %}
      <title>Core Hyperion</title>
    {% endblock %}
    <!-- Favicon -->
    {% block css %}
      <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
      <!-- Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
      <!-- Icons -->
      <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
      <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
      <!-- Argon CSS -->
      <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.1.0" type="text/css">
    {% endblock %}

    {% block extra_css %}{% endblock %}
  </head>
{% endblock %}

{% block content %}
  
{% endblock %}

<!-- Footer -->
{% block footer %}
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Core Hyperion</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
  <!-- Argon Scripts -->
<!-- Core -->
{% block js %}
  <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.1.0"></script>
  <!-- Demo JS - remove this in your project -->
  <script src="/static/assets/js/demo.min.js"></script>
{% endblock %}
{% block extra_js %}{% endblock %}

