{% extends 'dashboard_base.html' %}
{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white">
                            Set Parameters & Generate Text
                        </h6>
                    </div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="modelName" placeholder="Output Length">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <select class="form-control" data-toggle="select">
                            <option>Model 1</option>
                            <option>Model 2</option>
                            <option>Model 3</option>
                            <option>Model 4</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary">Train Generator</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="Enter Text Here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 py-3">
                <div class="card">
                    <textarea class="form-control" id="" rows="10" placeholder="Waiting for User to enter text......."></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}