{% extends 'dashboard_base.html' %}
{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white">
                            Select Folder Location where source pdf or doc files are stored on you system
                        </h6>
                    </div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <input type="file" id="browse-btn" webkitdirectory multiple hidden/>
                        <label for="browse-btn">
                            <span class="btn btn-secondary btn-lg">Folder Location</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $("#browse-btn").change(function() {
            var filePath = $(this).val();
            console.log(filePath);
        });
    </script>
{% endblock %}