{% extends 'dashboard_base.html' %}
{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white">
                            Train the Generator on new Data
                        </h6>
                    </div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="modelName" placeholder="Model Name">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control" id="trainingPeriod" placeholder="Training Period(Hrs)">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary">Train Generator</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}